* { 
    font-family: "Jost";
}

                                                /*  Navbar */
.navbar{
    display: flex;
    position: absolute;
    background-color: #FF7F99;
    left: 0;
    right: 0;
    height: 100px;
    margin-top: -8px;
}

.title{
    display: flex;
    margin-left: 4vh;
    color: white;
}
span{
    color: #FFCA41
}
.nav{
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 2vh;
    
}

.nav ul {
    display: flex;
    align-items: left;
    list-style: none;
    padding-left: 150vh;
    
}
.nav li{
    margin-left: 2vh;
    color: white;
    font-weight: lighter;
}

.contact{
    border-radius: 1.8vh;
    background-color: #ef9393;
    border-color:#f8c5c5;
    border-style: ridge;
    border-width: 0.1vh;
    color: white;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    text-decoration: none;
}
                                     /*  Main */
.main-container {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    padding-bottom: 1vh;
}
    
    .main-picture {
      
    }
    .text-container {
        padding-left: 15vh;
    }

        .main-title {
            color: #ff7f99;
            font-size: 8vh;
            line-height: 6.5vh;
            margin-bottom: -0.5vh;
        }

        .main-text {
            font-size: 2vh;
        }

        .main-button {
            font-size: 2vh;
            border-color: black;
            background-color: #FFCA41;
            color: white;
            padding-top: 0.5vh;
            padding-bottom: 0.5vh;
            padding-left: 1.5vh;
            padding-right: 1.5vh;
            border-radius: 2vh;
            transition: all .2s ease-in-out; 
        }

        .main-button:hover {
            transform: scale(0.95);
        }

                                    /*  Footer */


.backgroundfooter {
    background-color: #ff7f99;
    position: absolute;
    right: 0;
    left: 0;
}

.picturecontainer {
    display: flex;
    justify-content: center;
    margin-right: 10vh;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

    .profilecontainer {
        padding-left: 15vh;
    }

        .profilepictures {
            border-radius: 50%;
        }

            .profilename {
                font-size: 3.5vh;
                color: white
            }

            .center {
                text-align: center;
            }