* { 
    font-family: "Jost";
}                 
                                        
                                /*  Navbar */
.navbar{
    display: flex;
    position: absolute;
    background-color: #FF7F99;
    left: 0;
    right: 0;
    height: 100px;
    margin-top: -8px;
}

.title{
    display: flex;
    margin-left: 4vh;
    color: white;
}

.company, a {
    text-decoration: none;
    color: white;
}

span{
    color: #FFCA41
}
.nav{
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 2vh;
    
}

.nav ul {
    display: flex;
    align-items: left;
    list-style: none;
    padding-left: 150vh;
    
}
.nav li{
    margin-left: 2vh;
    color: white;
    font-weight: lighter;
}

.contact{
    border-radius: 1.8vh;
    background-color: #ef9393;
    border-color:#f8c5c5;
    border-style: ridge;
    border-width: 0.1vh;
    color: white;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    text-decoration: none;
}


                                 /*  Main */

.prof-container {
    display: flex;
    justify-content: flex-start;
    padding-top: 15vh;
}  
    .main-profile-picture {
        margin-left: 45vh;
        background: #FF7F99;
        border-radius: 50% 0 50% 50%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: -30px;
        height: 49vh;
    }

        .Celia-picture {
            width: 50vh;
            height:48vh;
            border-radius: 50%;
        }

    .main-profile-container {
        padding-left: 15vh;
    }
        .main-profile-name {
            font-size: 10vh;
            color: #FF7F99;
            line-height: 9vh;
            font-weight: lighter;
        }

        .main-profile-subtext {
            margin-top: -5vh;
            font-weight: lighter;
        }

        .main-profile-text {
            text-align: justify;
            padding-bottom: 2vh;
        }

        .button {
            font-size: 2vh;
            border-color: black;
            background-color: #FFCA41;
            color: white;
            padding-top: 0.5vh;
            padding-bottom: 0.5vh;
            padding-left: 1.5vh;
            padding-right: 1.5vh;
            border-radius: 2vh;
            margin-left: 20vh;
            transition: all .2s ease-in-out; 
        }
        
        .button:hover {
            transform: scale(0.95);
        }
        .buttoncall {
            margin-top: -5.5vh;
        }

                                /*  Footer */


.backgroundfooter {
    background-color: #ff7f99;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 6vh;
}

.picturecontainer {
    display: flex;
    justify-content: center;
    margin-right: 10vh;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

    .profilecontainer {
        padding-left: 15vh;
    }

    .profilepictures {
        border-radius: 50%;
        transition: all .2s ease-in-out; 
    }

    .profilepictures:hover {
        
        transform: scale(0.95);
        
    }


            .profilename {
                font-size: 3.5vh;
                color: white
            }

            .center {
                text-align: center;
            }